# Stuff we don't want priettier to ever to look into
.git/
.tox/
.mypy_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Tracked but not manually edited
tests/fixtures/integration/actions/**/*.json
share/ansible_navigator/grammar/**/*.json
share/ansible_navigator/themes/**/*.json

# Tracked but manually formatted
share/ansible_navigator/markdown/help.md
share/ansible_navigator/markdown/welcome.md

# WIP
docs/changelog-fragments.d/README.md
.github/SECURITY.md
CHANGELOG.md
README.md
