---

repos:
- repo: https://github.com/asottile/add-trailing-comma.git
  rev: v2.2.1
  hooks:
  - id: add-trailing-comma
    args:
    - --py36-plus
    exclude: |
      (?x)
      ^
        .*
      $
    stages: ["manual"]

- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort
    args:
    - --honor-noqa
    exclude: |
      (?x)
      ^
        .*
      $
    stages: ["manual"]

- repo: https://github.com/Lucas-C/pre-commit-hooks.git
  rev: v1.1.10
  hooks:
  - id: remove-tabs
    exclude: |
      (?x)
      ^
        share/ansible_navigator/themes/dark_vs\.json
      $

- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v4.0.1
  hooks:
  # Side-effects:
  - id: trailing-whitespace
  - id: check-merge-conflict
  - id: double-quote-string-fixer
    exclude: |
      (?x)
      ^
        .*
      $
    stages: ["manual"]
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
    exclude: >-
      ^requirements\.txt$
  # Non-modifying checks:
  - id: name-tests-test
    args:
    - --django
    exclude: |
      (?x)
      ^
        .*
      $
    files: >-
      ^tests/[^_].*\.py$
    stages: ["manual"]
  - id: check-added-large-files
  - id: check-byte-order-marker
  - id: check-case-conflict
  # disabled due to pre-commit/pre-commit-hooks#159
  # - id: check-docstring-first
  - id: check-json
    exclude: |
      (?x)
      ^
        licenses/.*\.json
      $
  - id: check-symlinks
  - id: check-yaml
  - id: detect-private-key

  # Heavy checks:
  - id: check-ast
  - id: debug-statements

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.30.0
  hooks:
  - id: markdownlint
    exclude: >
      (?x)^
        (
          \.github/ISSUE_TEMPLATE/\w+|
          docs/(
            changelog-fragments\.d/\d+\.\w+(\.\d+)?|
            faq|
            index|
            installation
          )|
          README|
          share/ansible_navigator/markdown/(help|welcome)
        )\.md
      $

- repo: https://github.com/PyCQA/pydocstyle.git
  rev: 6.1.1
  hooks:
  - id: pydocstyle
    additional_dependencies:
    - toml
    args:
    - |-
      --ignore=
      D100,
      D101,
      D102,
      D103,
      D104,
      D105,
      D106,
      D107,
      D200,
      D201,
      D202,
      D203,
      D204,
      D205,
      D208,
      D209,
      D210,
      D211,
      D212,
      D213,
      D300,
      D400,
      D401,
      D402,
      D403,
      D404,
      D405,
      D406,
      D407,
      D412,
      D413,
      D415,
    stages: ["manual"]

- repo: https://github.com/codespell-project/codespell
  rev: v2.1.0
  hooks:
  - id: codespell
    # FIXME: Address remove current spelling exceptions:
    args: ["-L", "tipe,dout"]
    # We exclude generated and external files as they are not directly under
    # our control, so we cannot fix spelling in them.
    exclude: >
      (?x)^
        (
          tests/fixtures/integration/actions/.*\.json|
          share/ansible_navigator/grammar/.*\.json
        )
      $

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.26.3
  hooks:
  - id: yamllint
    args:
    - --strict
    types: [file, yaml]

- repo: https://github.com/PyCQA/flake8.git
  rev: 4.0.1
  hooks:
  - id: flake8
    language_version: python3
    additional_dependencies:
    - flake8-2020 >= 1.6.0
  - id: flake8
    name: >-
      An unenforced set of strict flake8 plugins,
      including WPS and pytest-style
    language_version: python3
    additional_dependencies:
    - flake8-docstrings >= 1.5.0
    - flake8-pytest-style >= 1.2.2
    - wemake-python-styleguide ~= 0.16.0
    stages:
    - manual

- repo: https://github.com/pre-commit/mirrors-mypy.git
  rev: v0.910-1
  hooks:
  - id: mypy
    additional_dependencies:
    - lxml == 4.6.4  # needed for `--txt-report`
    - types-docutils
    - types-PyYAML
    args:
    # FIXME: get rid of missing imports ignore
    - --ignore-missing-imports
    - --install-types
    - --namespace-packages
    - --non-interactive
    - --pretty
    - --show-column-numbers
    - --show-error-codes
    - --show-error-context
    #- --strict
    #- --strict-optional
    - --txt-report
    - .tox/.tmp/.mypy/
    - docs/
    - share/
    - src/
    - tests/
    pass_filenames: false

- repo: local
  hooks:
  - id: pylint
    additional_dependencies: ['-r', 'test-requirements.txt', '-r', 'requirements.txt']
    language: system
    name: pylint
    entry: python -m pylint
    exclude: >
      (?x)^
        (
          src/ansible_navigator/tm_tokenize/.*
        )
      $

...
