---
default_language_version:
  # ensures that we get same behavior on CI(s) as on local machines
  python: python3.10
repos:
  - repo: https://github.com/asottile/add-trailing-comma.git
    rev: v2.2.1
    hooks:
      - id: add-trailing-comma
        args:
          - --py36-plus
        stages: ["manual"]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
        name: Sort import statements using isort

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.6.0"
    hooks:
      - id: prettier
        # Original hook implementation is flaky due to *several* bugs described
        # in https://github.com/prettier/prettier/issues/12364
        # a) CI=1 needed to avoid incomplete output
        # b) two executions are needed because --list-different works correctly
        # only when run with --check as with --write the output will also
        # include other entries and logging level cannot be used to keep only
        # modified files listed (any file is listes using the log level, regardless if
        # is modified or not).
        # c) We avoid letting pre-commit pass each filename in order to avoid
        # runing multiple instances in parallel. This also ensures that running
        # prettier from the command line behaves identically with the pre-commit
        # one. No real performance downsides.
        # d) exit with the return code from list-different (0=none, 1=some)
        # rather than the write (0=successfully rewrote files). pre-commit.ci
        entry: env CI=1 bash -c "prettier --list-different . || ec=$? && prettier --loglevel=error --write . && exit $ec"
        pass_filenames: false
        args: []
        additional_dependencies:
          - prettier
          - prettier-plugin-toml

  - repo: https://github.com/psf/black.git
    rev: 22.1.0
    hooks:
      - id: black
        language_version: python3
        args:
          - --diff
          - --check
          - .

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v5.9.0
    hooks:
      - id: cspell
        name: Spell check with cspell

  - repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.13
    hooks:
      - id: remove-tabs
        exclude: |
          (?x)
          ^
            share/ansible_navigator/themes/dark_vs\.json
          $

  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.1.0
    hooks:
      # Side-effects:
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-json
        exclude: |
          (?x)
          ^
            licenses/.*\.json
          $
      - id: check-symlinks
      - id: check-yaml
      - id: detect-private-key

      # Heavy checks:
      - id: check-ast
      - id: debug-statements

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1
    hooks:
      - id: markdownlint
        exclude: >
          (?x)^
            (
              \.github/ISSUE_TEMPLATE/\w+|
              docs/(
                changelog-fragments\.d/\d+\.\w+(\.\d+)?|
                faq|
                index|
                installation
              )|
              README|
              src/ansible_navigator/package_data/(help|welcome)
            )\.md
          $

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        # NOTE: dout is part of the stdout action regex
        args: ["-L", "dout"]
        # We exclude generated and external files as they are not directly under
        # our control, so we cannot fix spelling in them.
        exclude: >
          (?x)^
            (
              tests/fixtures/integration/actions/.*\.json|
              share/ansible_navigator/grammar/.*\.json
            )
          $

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
        args:
          - --strict
        types: [file, yaml]

  - repo: https://github.com/PyCQA/flake8.git
    rev: 4.0.1
    hooks:
      - id: flake8
        alias: flake8-enforced
        language_version: python3
        additional_dependencies:
          - flake8-2020 >= 1.6.0
          - flake8-isort >= 4.1.1
          - flake8-quotes >= 3.3.1
      - id: flake8
        alias: flake8-rule-candidates
        name: Help improve our developer documentation. Try "tox -e lint-candidates" (optional)
        args:
          - --ignore=
          - --extend-ignore=
          - >-
            --select=
            D,
            DAR,
        language_version: python3
        additional_dependencies:
          - darglint
          - flake8-docstrings # uses pydocstyle
        stages:
          - manual

  - repo: https://github.com/pre-commit/mirrors-mypy.git
    rev: v0.941
    hooks:
      # NOTE: Here MyPy is executed twice -- once for the highest and once
      # NOTE: for the lowest supported version. They are hardcoded in the
      # NOTE: hook invocations below. Whenever one of these versions needs
      # NOTE: to be updated, the values in the `alias` and `name` fields
      # NOTE: should be adjusted along with the `--python-version` CLI
      # NOTE: option.
      # NOTE: The external developer environment is configured to only run
      # NOTE: the check with the lowest version on the tox side while the
      # NOTE: CI automations run both checks. Whenever the versions are
      # NOTE: updated in this config, a symmetric action must be performed
      # NOTE: in `tox.ini` as well.
      - &_base-mypy-setup-map
        id: mypy
        alias: mypy-py310
        name: MyPy, for Python 3.10
        additional_dependencies:
          - jinja2
          - libtmux
          - pytest
          - pytest-mock
          - sphinx
          - types-docutils
          - types-setuptools # Needed logging version
          - types-PyYAML
        args:
          - --python-version=3.10
        pass_filenames: false
      - <<: *_base-mypy-setup-map
        alias: mypy-py36
        name: MyPy, for Python 3.6
        additional_dependencies:
          - importlib_resources # Needed for checking py3.6 with a later interpreter
          - jinja2
          - libtmux
          - pytest
          - pytest-mock
          - sphinx
          - types-backports # Needed for checking py3.6 with a later interpreter
          - types-dataclasses # Needed for checking py3.6 with a later interpreter
          - types-docutils
          - types-PyYAML
          - types-setuptools # Needed for logging version
          - types-typed-ast # Needed for checking py3.6 with a later interpreter
        args:
          - --python-version=3.6

  - repo: https://github.com/pycqa/pylint.git
    rev: v2.12.2
    hooks:
      - id: pylint
        args:
          # FIXME: uncomment once it doesn't have violations
          # - docs/
          - share/
          - src/
          - tests/
        additional_dependencies:
          - ansible-core
          # astroid is a transitive dep for pylint, > 2.9.0 introduces false no-name-in-module and no-member errors
          # attempt to remove this when astroid 2.9.4 or later is released
          # related: https://github.com/PyCQA/pylint/issues/5131
          # related: https://github.com/ansible/ansible-navigator/issues/772
          - astroid == 2.9.0
          - ansible-runner
          - jinja2
          - jsonschema
          - libtmux
          - onigurumacffi
          - pytest
          - pytest-mock
          - setuptools-scm
          - sphinx
        pass_filenames: false
