# Stuff we don't want priettier to ever to look into
.git/
.tox/
.mypy_cache/
build/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Tracked but not manually edited
tests/fixtures/integration/actions/**/*.json
tests/fixtures/integration/version_migration/*.json
tests/fixtures/integration/version_migration/*.yml
tests/fixtures/integration/version_migration/*.yaml

share/ansible_navigator/grammar/**/*.json
share/ansible_navigator/themes/**/*.json

# Tracked but manually formatted
src/ansible_navigator/package_data/help.md
src/ansible_navigator/package_data/welcome.md

# generated
src/ansible_navigator/data/ansible-navigator.json

# WIP
docs/changelog-fragments.d/README.md
CHANGELOG.md
README.md
