# Stuff we don't want priettier to ever to look into
.git/
.tox/
.mypy_cache/
build/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Tracked but not manually edited
tests/fixtures/integration/actions/**/*.json
tests/fixtures/integration/version_migration/*.json
tests/fixtures/integration/version_migration/*.yml
tests/fixtures/integration/version_migration/*.yaml

src/ansible_navigator/data/grammar/**/*.json

# Tracked but manually formatted
src/ansible_navigator/data/help.md
src/ansible_navigator/data/welcome.md

# generated
src/ansible_navigator/data/ansible-navigator.json

# WIP
CHANGELOG.md
README.md

# mkdocs
site/
docs/.generated
