---

ci:
  skip:
  - flake8

repos:
- repo: https://github.com/asottile/add-trailing-comma.git
  rev: v2.0.1
  hooks:
  - id: add-trailing-comma
    args:
    - --py36-plus
    exclude: |
      (?x)
      ^
        .*
      $

- repo: https://github.com/timothycrosley/isort.git
  rev: 5.4.2
  hooks:
  - id: isort
    args:
    - --honor-noqa
    exclude: |
      (?x)
      ^
        .*
      $

- repo: https://github.com/Lucas-C/pre-commit-hooks.git
  rev: v1.1.7
  hooks:
  - id: remove-tabs
    exclude: |
      (?x)
      ^
        share/ansible_navigator/themes/dark_vs\.json
      $

- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v4.0.1
  hooks:
  # Side-effects:
  - id: trailing-whitespace
    exclude: |
      (?x)
      ^
        tests/fixtures/unit/configuration_subsystem/ansible-navigator\.yml|
        licenses/LICENSE\.source\.json\.json|
        tests/smoketests/scenarios/smoke-config\.yml|
        docs/faq\.md|
        tests/fixtures/integration/execution_environment/ansible-navigator_disable_ee\.yml|
        tox\.ini
      $
  - id: check-merge-conflict
  - id: double-quote-string-fixer
    exclude: |
      (?x)
      ^
        .*
      $
  - id: end-of-file-fixer
    exclude: |
      (?x)
      ^
        .*
      $
  - id: requirements-txt-fixer
    exclude: >-
      ^requirements\.txt$
  # Non-modifying checks:
  - id: name-tests-test
    args:
    - --django
    exclude: |
      (?x)
      ^
        .*
      $
    files: >-
      ^tests/[^_].*\.py$
  - id: check-added-large-files
  - id: check-byte-order-marker
  - id: check-case-conflict
  # disabled due to pre-commit/pre-commit-hooks#159
  # - id: check-docstring-first
  - id: check-json
    exclude: |
      (?x)
      ^
        licenses/.*\.json
      $
  - id: check-symlinks
  - id: check-yaml
  - id: detect-private-key

  # Heavy checks:
  - id: check-ast
  - id: debug-statements

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.29.0
  hooks:
  - id: markdownlint
    exclude: >
      (?x)^
        (
          \.github/ISSUE_TEMPLATE/\w+|
          docs/(faq|index|installation)|
          README|
          share/ansible_navigator/markdown/(help|welcome)
        )\.md
      $

- repo: https://github.com/PyCQA/pydocstyle.git
  rev: 6.1.1
  hooks:
  - id: pydocstyle
    additional_dependencies:
    - toml
    args:
    - |-
      --ignore=
      D100,
      D101,
      D102,
      D103,
      D104,
      D105,
      D106,
      D107,
      D200,
      D201,
      D202,
      D203,
      D204,
      D205,
      D208,
      D209,
      D210,
      D211,
      D212,
      D213,
      D300,
      D400,
      D401,
      D402,
      D403,
      D404,
      D405,
      D406,
      D407,
      D412,
      D413,
      D415,

- repo: https://github.com/codespell-project/codespell
  rev: v2.1.0
  hooks:
  - id: codespell
    exclude: >
      (?x)^
        (
          .github/ISSUE_TEMPLATE/bug_report\.md|
          docs/_ext/single_sourced_data\.py|
          share/ansible_navigator/grammar/html.tmLanguage\.json|
          share/ansible_navigator/grammar/log.tmLanguage\.json|
          share/ansible_navigator/utils/catalog_collections\.py|
          share/ansible_navigator/utils/image_introspect\.py|
          src/ansible_navigator/actions/collections\.py|
          src/ansible_navigator/actions/config\.py|
          src/ansible_navigator/actions/images\.py|
          src/ansible_navigator/actions/inventory\.py|
          src/ansible_navigator/actions/run\.py|
          src/ansible_navigator/actions/stdout\.py|
          src/ansible_navigator/command_runner/command_runner\.py|
          src/ansible_navigator/configuration_subsystem/configurator\.py|
          src/ansible_navigator/configuration_subsystem/definitions\.py|
          src/ansible_navigator/configuration_subsystem/navigator_post_processor\.py|
          src/ansible_navigator/runner/base\.py|
          src/ansible_navigator/steps\.py|
          src/ansible_navigator/ui_framework/colorize\.py|
          src/ansible_navigator/ui_framework/curses_window\.py|
          src/ansible_navigator/ui_framework/field_button\.py|
          src/ansible_navigator/ui_framework/field_checks\.py|
          src/ansible_navigator/ui_framework/field_information\.py|
          src/ansible_navigator/ui_framework/field_radio\.py|
          src/ansible_navigator/ui_framework/field_text\.py|
          src/ansible_navigator/ui_framework/field_working\.py|
          src/ansible_navigator/ui_framework/form_defs\.py|
          src/ansible_navigator/ui_framework/form_handler_text\.py|
          src/ansible_navigator/ui_framework/form_presenter\.py|
          src/ansible_navigator/ui_framework/menu_builder\.py|
          src/ansible_navigator/ui_framework/sentinals\.py|
          src/ansible_navigator/ui_framework/ui\.py|
          src/ansible_navigator/ui_framework/utils\.py|
          src/ansible_navigator/ui_framework/validators\.py|
          src/ansible_navigator/utils\.py|
          src/ansible_navigator/_version\.py|
          src/ansible_navigator/_yaml\.py|
          tests/conftest\.py|
          tests/integration/_action_run_test\.py|
          tests/integration/_tmux_session\.py|
          tests/unit/configuration_subsystem/test_configurator\.py|
          tests/unit/configuration_subsystem/test_mode_subcommand_action\.py|
          tests/unit/configuration_subsystem/test_precedence\.py|
          tests/unit/configuration_subsystem/test_previous_cli\.py|
          tests/unit/test_utils\.py|
          tox\.ini
        )
      $

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.26.2
  hooks:
  - id: yamllint
    args:
    - --strict
    types: [file, yaml]

- repo: https://github.com/PyCQA/flake8.git
  rev: 3.9.2
  hooks:
  - id: flake8
    language_version: python3
    additional_dependencies:
    - flake8-2020 >= 1.6.0
    - flake8-docstrings >= 1.5.0
    - flake8-pytest-style >= 1.2.2
    - wemake-python-styleguide ~= 0.15.0

- repo: https://github.com/pre-commit/mirrors-mypy.git
  rev: v0.910
  hooks:
  - id: mypy
    additional_dependencies:
    - lxml == 4.6.4  # needed for `--txt-report`
    - types-docutils
    - types-PyYAML
    args:
    # FIXME: get rid of missing imports ignore
    - --ignore-missing-imports
    - --install-types
    - --namespace-packages
    - --non-interactive
    - --pretty
    - --show-column-numbers
    - --show-error-codes
    - --show-error-context
    #- --strict
    #- --strict-optional
    - --txt-report
    - .tox/.tmp/.mypy/
    - docs/
    - share/
    - src/
    - tests/
    pass_filenames: false

- repo: local
  hooks:
  - id: pylint
    language: system
    name: PyLint
    files: \.py$
    entry: python -m pylint
    args:
    - --ignore=tm_tokenize
    - |-
      --disable=
      consider-using-with,
      implicit-str-concat,
      import-error,
      invalid-name,
      missing-class-docstring,
      missing-function-docstring,
      missing-module-docstring,
      no-else-return,
      no-member,
      no-self-use,
      protected-access,
      redefined-builtin,
      too-few-public-methods,
      too-many-arguments,
      too-many-branches,
      too-many-instance-attributes,
      too-many-locals,
      too-many-statements,
      unused-import,
      useless-else-on-loop,
      wrong-import-order,
    stages:
    - manual

...
