[tool.towncrier]
  directory = "docs/changelog-fragments.d/"
  filename = "CHANGELOG.md"
  issue_format = "{{issue}}`{issue}`"
  start_string = "<!-- towncrier release notes start -->\n\n"
  template = "docs/changelog-fragments.d/.CHANGELOG-TEMPLATE.md.j2"
  title_format = "## [{version}] - {project_date}"
  underlines = ["##", "###", "####", "#####"]

  [[tool.towncrier.section]]
    path = ""

  [[tool.towncrier.type]]
    directory = "bugfix"
    name = "Bugfixes"
    showcontent = true

  [[tool.towncrier.type]]
    directory = "feature"
    name = "Features"
    showcontent = true

  [[tool.towncrier.type]]
    directory = "deprecation"
    name = "Deprecations (removal in next major release)"
    showcontent = true

  [[tool.towncrier.type]]
    directory = "breaking"
    name = "Backward incompatible changes"
    showcontent = true

  [[tool.towncrier.type]]
    directory = "doc"
    name = "Documentation"
    showcontent = true

  [[tool.towncrier.type]]
    directory = "misc"
    name = "Miscellaneous"
    showcontent = true

  [[tool.towncrier.type]]
    directory = "internal"
    name = "Contributor-facing changes"
    showcontent = true


[tool.black]
line-length = 100

[tool.isort]
force_single_line = true # Force from .. import to be 1 per line
known_testing = "pytest, unittest"
lines_after_imports = 2 # Ensures consistency for cases when there's variable vs function/class definitions after imports
lines_between_types = 1 # Separate import/from with 1 line
profile = "black" # Avoid conflict with black
reverse_relative = true # Import local prior to parent
sections = "FUTURE, STDLIB, TESTING, THIRDPARTY, FIRSTPARTY, LOCALFOLDER"


[tool.pylint]
    [tool.pylint.master]
    ignore="tm_tokenize"

    [tool.pylint.messages_control]
    disable = "C0330, C0326"

    [tool.pylint.format]
    max-line-length = 100
