ansible-core
darglint
flake8-docstrings
flake8-quotes
libtmux
lxml
pre-commit
pytest-cov
pytest-mock
pytest-subtests
pytest-xdist
sphinx

# used for TypeAlias, can be removed once Python 3.10 is required
typing-extensions; python_version < "3.10.0"
