ansible-core
coverage-enable-subprocess
coverage[toml]>=7.0.0b1
darglint
flake8-docstrings
libtmux
pre-commit
pytest-mock
pytest-plus # implements PYTEST_REQPASS
pytest-subtests
pytest-xdist

# used for TypeAlias, can be removed once Python 3.10 is required
typing-extensions; python_version < "3.10.0"
