ansible-core
coverage-enable-subprocess
coverage[toml]>=7.4.3
darglint
flake8-docstrings
libtmux>=0.36.0
pre-commit
pytest-env
pytest-mock
pytest-plus # implements PYTEST_REQPASS
pytest-subtests
pytest-xdist
