setuptools > 0.6 # pytest-xdist installed via requirements does not work with very old setuptools (sanity_ok)
virtualenv ; python_version < '3'

ansible-pylibssh
jxmlease
ncclient
selectors2 ; python_version == '3.5'
netaddr

# The follow are 3rd party libs for cli_parse
ntc_templates
pyats ; python_version >= '3.6' and python_version < '3.9'
genie ; python_version >= '3.6' and python_version < '3.9'
textfsm
ttp
xmltodict
